p {font-size: 15pt; color: aqua; font-family: serif;}
h1 {color: chartreuse;}
.sclass {font-size: 20pt; font-family: 'Courier New', Courier, monospace; color: cadetblue; }
body {font-size: 30pt; font-family: Verdana, Geneva, Tahoma, sans-serif; color: cornflowerblue;}